.cue-list.list {
    flex-grow: 100;
    width: 100%;
    height: 100%;
    overflow-y: overlay;
    border-bottom: 1px solid black
}
.cue-list.list::-webkit-scrollbar {
    width: 13px;
}
.cue-list.list::-webkit-scrollbar-thumb {
    background-color: rgba(160, 160, 160, 0.5);
    border-radius: 10px;
}
.cue-list.list::-webkit-scrollbar-thumb:hover, .list::-webkit-scrollbar-thumb:active {
    background-color: #aaa;
    border-radius: 10px;
}
.cue-list.header {
    height: 30px;
    width: 100%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 3px;
    border-top: solid black 1px;
}
.cue-list.header-container {
    background-color: #ccc;
}
.cue-list.title {
    font-family: Roboto;
    width: 100px;
    border-left: solid black 1px;
}
.cue-list.title:nth-child(1), .cue-list.cue-detail:nth-child(1) {
    border-left: solid transparent 1px;
    flex-shrink: 5;
    width: 100px;
}
.cue-list.title:nth-child(2), .cue-list.cue-detail:nth-child(2) {
    flex-grow: 8;
    width: 100px;
}
.cue-list.title:nth-child(3), .cue-list.cue-detail:nth-child(3) {
    flex-grow: 1;
    width: 100px;
}
.cue-list.title:nth-child(4), .cue-list.cue-detail:nth-child(4) {
    flex-grow: 1;
    width: 100px;
}
.cue-list.title:nth-child(5), .cue-list.cue-detail:nth-child(5) {
    flex-grow: 1;
    width: 100px;
}
.cue-list.title:nth-child(6), .cue-list.cue-detail:nth-child(6) {
    flex-grow: 3;
    width: 100px;
}
.cue-list.list-cues:last-child {
    border-bottom: 0px solid transparent;
}

.cue-list.list-cues {
    height: 25px;
    width: 100vw;
    margin: 0;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
}

.cue-list.cue-detail {
    font-family: Roboto;
    width: 100px;
    border-left: solid black 1px;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.cue-list.cue-detail>p {
    font-size: 15px;
    margin: 0;
    font-weight: 300;
    text-align: center;
    align-self: center;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Delicious Handrawn';
    src: url('../fonts/DeliciousHandrawn-Regular.ttf');
}