.devices.container {
    min-height: 40px;
    width: 100%;
    background-color: #f9fbff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 4px;
}

.devices.monitor-dropdown, .devices.audio-dropdown {
    min-height: 30px;
    width: 250px;
    background-color: white;
    border: 2px solid #767b91;
    border-radius: 8px;
    margin: 5px;
    font-size: 15px;
    font-family: Roboto;
}

.devices.volume-container {
    height: 30px;
    width: 300px;
    background-color: white;
    /* border: 2px solid #aaa; */
    border-radius: 8px;
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
}
.devices.volume-selector {
    width: 280px;
    height: 20px;
    border: 2px solid #767b91;
    border-radius: 12px;
}

.devices.track {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.devices.meter:nth-child(1) {
    height: 50%;
    width: 15%;
    background-color: #c8e6c9;
    opacity: 0.7;
    border-bottom: 1px solid #292;
    border-right: 1px solid #292;
    position: relative;
    border-radius: 0 4px 4px 0;
    top: 0px;
}
.devices.meter:nth-child(2) {
    height: 50%;
    width: 20%;
    background-color: #c8e6c9;
    opacity: 0.7;
    border-top: 1px solid #292;
    border-right: 1px solid #292;
    border-radius: 0 4px 4px 0;
    position: relative;
    bottom: 1px;
}

.devices.seeker {
    width: 6px;
    height: 30px;
    background-color: #767b91;
    position: absolute;
    left: 90%;
    top: 0px;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
}