.status.container {
    height: 50vh;
    width: 100%;
    background-color: #f9fbff;
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.status.preview-container {
    height: 100%;
    width: min(25%, 350px);   
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.status.preview {
    width: 0;
    height: 0;
    padding-right: 90%;
    padding-bottom: 52%;
    max-height: -80px;
    border: 2px solid #777;
    background-color: black;
    border-radius: 15px;
}

.status.playing {
    flex-grow: 2;
    background-color: #f9fbff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.status.next {
    flex-grow: 2;
    background-color: white;
}

.status.bar, .status.next {
    width: 400px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background-color: #767b91;
    display: flex;
    border: 2px solid #767b91;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    margin-bottom: -2px;
}

.status.next {
    margin-top: 10px;
    border-radius: 20px;
    max-height: 40px;
}

.status.cue {
    width: 75px;
    height: 100%;
    border-right: 1px solid #767b91;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: #2996ff;
    left: 0;
}

.status.description {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.status.label {
    width: 75px;
    height: 100%;
    position: relative;
    border-left: 1px solid #767b91;
    background-color: #c8e6c9;
    color: #388e3c;
    display: flex;
    align-items: center;
    right: 0;
}
.status.second {
    background-color: #fff0c2;
    color: #a68b00
}

.status>p {
    font-family: Roboto;
    margin-left: 5px;
    margin-right: 5px;
}

.status.joiner {
    height: 100%;
    width: 100%;
    margin-top: 0px;
    padding: 15px;
    padding-right: 0;   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.status.seeker {
    height: 40%;
    width: 97%;
    display: flex;
}

.status.track {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 0 20px 20px 20px;
    border: 2px solid #767b91;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status.line-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.status.line {
    height: 1px;
    width: 100%;
    background-color: #767b91;
    position: relative;
}

.status.start-cap, .status.end-cap {
    height: 20px;
    width: 1px;
    background-color: #767b91;
}

.status.scrubber {
    height: 30px;
    width: 6px;
    border-radius: 3px;
    background-color: #767b91;
    position: relative;
    left: 1.2%;
    top: calc(50% - 15px);
    cursor: pointer;
}